{% extends "layout.html" %}
{% load static %}
{% block title %}
Car Details
{% endblock %}

{% block nav %}
<h2 class= "bg-red-950 p-1">Details about the car</h2>
{% endblock %}

{% block content %}
<h1 class="p-1">This is the details of the car from Forza Horizon 5 by BONK</h1>
<h2 class="bg-pink-700 text-pink-200 text-3xl p-1"><u>{{car.brand}}</u></h2>
<h2 class="bg-pink-700 text-pink-200 text-1xl p-1"><u>{{car.name}}</u></h2>
<img class="rounded shadow-lg bg-pink-700 rounded p-1" src="{{ car.image.url }}" width=500>
<h3><u class="bg-pink-700 text-1xl rounded p-0.5 m-0.3">Birthplace:</u>{{car.nationality}}</h3>
<h3><u class="bg-pink-700 text-1xl rounded p-0.5 m-0.3">Peak Power:</u>{{car.power}}HP</h3>
<h3><u class="bg-pink-700 text-1xl rounded p-0.5 m-0.3">Car Class:</u>{{car.type}}</h3>
<h3><u class="bg-pink-700 text-1xl rounded p-0.5 m-0.3">Details:</u>{{car.description}}</h3>

{% endblock %}
