
{% load static %}
<!--
{% block title %}
BONK
{% endblock %}

{% block content %}
<h1>this is BONK</h1>
{% endblock %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Designing</title>
    <link rel="stylesheet" href={% static "styles.css" %}>
  </head>
  <body>
    <div class="parent">
      <img src="{% static 'screenshot.png' %} %}" alt="img load failed!!">
      <span class="ca">Futuristic</span>
      <span class="cb">Sci-Fi</span>
      <h1>CyberTown 2408-H</h1>
      <h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
        laudantium delectus repellat dignissimos, corrupti laborum officiis
        expedita! Incidunt non, quibusdam, sequi eum expedita reprehenderit
        facere voluptatibus dolorem nam animi est.
      </h3>
      <div class="box">Read more</div>
    </div>
  </body>
</html>
