{% extends "shop/layout.html" %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block css %}
        .col-md-3 {
            display: inline-block;
            margin-left: -4px;
        }

        .col-md-3 {
            width: 100%;
            height: auto;
        }



        body .no-padding {
            padding-left: 0;
            padding-right: 0;
        }

        .carousel-control-prev-icon {
            background: black no-repeat center center;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
        }

        .carousel-control-next-icon {
            background: black no-repeat center center;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");

        }
        body .carousel-indicators{
        bottom:0;
        }

        .carousel-indicators .active{
        background-color: blue;
        }


    {% endblock %}
{% block body %}
  <div class="container">
    <div id="demo" class="carousel slide my-2" data-bs-ride="carousel">
        <ul class="carousel-indicators">
          <li data-bs-target="#demo" data-bs-slide-to="0" class="active"></li>
            {% for i in range %}
          <li data-bs-target="#demo" data-bs-slide-to="{{i}}"></li>
          {% endfor %}
        </ul>
        {% comment %} Slideshow {% endcomment %}
        <div class="container carousel-inner no-padding">
          <div class="carousel-item active">

              <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 17rem;">
                      <img src="{% static 'shop/kingston_fury.jpg' %}" class="card-img-top" alt="img" loading="lazy">
                      <div class="card-body">
                          <h5 class="card-title">Kingston Fury p1</h5>
                          <p class="card-text">Kingston Fury 16GB DDR5 3200MHz RAM</p>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item"><a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">About</a></li>
                              <li class="list-group-item"><a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">Description</a></li>
                              <li class="list-group-item"><a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">Compare</a></li>
                          </ul>
                          <a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"><button type="button" class="btn btn-warning">Buy Now</button></a>
                          <a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"><button type="button" class="btn btn-secondary">Add to Cart</button></a>
                      </div>
                  </div>
              </div>   

              {% for i in products|slice:"1:" %}
              <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 17rem;">
                      <img src="{% static 'shop/kingston_fury.jpg' %}" class="card-img-top" alt="img" loading="lazy">
                      <div class="card-body">
                          <h5 class="card-title">Kingston Fury p2</h5>
                          <p class="card-text">Kingston Fury 16GB DDR5 3200MHz RAM</p>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item"><a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">About</a></li>
                              <li class="list-group-item"><a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">Description</a></li>
                              <li class="list-group-item"><a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1">Compare</a></li>
                          </ul>
                          <a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"><button type="button" class="btn btn-warning">Buy Now</button></a>
                          <a href="https://www.amazon.com/Kingston-Technology-Overclocking-Stability-KF560C32RSK2-32/dp/B0B7293S5G/ref=sr_1_1_sspa?sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"><button type="button" class="btn btn-secondary">Add to Cart</button></a>
                      </div>
                  </div>
              </div>
              {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
           </div><div class="carousel-item">
              {% endif %}
              {% endfor %}
           </div>   
   
        </div>
    </div>

    {% comment %} control buttons left and right{% endcomment %}
    <a class="carousel-control-prev" href="#demo" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#demo" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
{% endblock %}
</div>